*
    padding: 0
    margin: 0 auto
.wrapper
    display: flex
    flex-direction: column
    min-height: 100vh
.top
    flex-grow: 1
    height: 200px
    width: 100vw
    background-color: #88a7ff
.menu
    height: 40px
    width: 100vw
    background-color: #02d336
footer
    height: 40px
    width: 100vw
    background-color: #222222