*
    padding: 0
    margin: 0 auto
.wrapper
    display: flex
    flex-direction: column
    min-height: 100vh
.top
    flex-grow: 1
    width: 100vw
    background-color: #fc91ed
.menu
    height: 40px
    width: 100vw
    background-color: #02d336
footer
    height: 40px
    width: 100vw
    background-color: #222222
.item
    width: 100px
    height: 100px
    background-color: #fffb02
    margin: 32px
    justify-self: center
.content
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr))
    justify-content: center
    grid-gap: 30px
    margin: 10px 20px 10px 20px
table
    border: 1px solid gray

.black
    width: 100px
    height: 100px
    background-color: black

.white
    width: 100px
    height: 100px
    background-color: white

h2
    color: #888887
    display: block
.textUp
    display: grid
    grid-template-columns: repeat(8,102px)
    padding-left: 225px
    position: absolute
    top: 28px
    left: 325px
.textDown
    display: grid
    grid-template-columns: repeat(8,102px)
    padding-left: 225px
    position: absolute
    top: 870px
    left: 325px
.up
    transform: rotate(180deg)
.numberLeft
    display: grid
    grid-template-rows: repeat(8,102px)
    position: absolute
    top: 95px
    left: 535px    
.numberRight
    display: grid
    grid-template-rows: repeat(8,102px)
    position: absolute
    top: 15px
    left: 1375px
